<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Offers comparator - get best offers on one site!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../static/css/add-user.css" th:href="@{/css/add-user.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<th:block th:insert="commonComponents/navbar.html"></th:block>
<div class="container my-5">
    <h2 class="mb-5">Create your account</h2>
    <div class="row">
        <div class="col-md-6">

            <form th:action="@{/signup}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="login" class="col-form-label">Login</label>
                        <input type="text" class="form-control" id="login" placeholder="Login"
                               pattern="^[a-zA-Z0-9_.-]{3,}$"
                               title="Couldn't contain illegal characters and at least 3 or more characters"
                               th:name="login"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="Email"
                               pattern="^[a-zA-Z0-9_@.-]{3,}$"
                               title="Couldn't contain illegal characters and at least 3 or more characters"
                               th:name="email"
                               required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="password" class="col-form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                               title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                               th:name="password"
                               required>
                        <input type="checkbox" onclick="show_password()" class="checkmark"> Show Password
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password_confirmation" class="col-form-label">Password confirmation</label>
                        <input type="password" class="form-control" id="password_confirmation"
                               placeholder="Repeat password" autocomplete="off" required>
                    </div>
                    <div id="message">
                        <h3>Password must contain the following:</h3>
                        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                        <p id="number" class="invalid">A <b>number</b></p>
                        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Continue">
                    </div>
                </div>
            </form>
            <div th:switch="${failure}" >
                <p th:case="'loginExistInDB'" class="alert alert-danger" role="alert">Invalid login. This login already exists.</p>
                <p th:case="'emailExistInDB'" class="alert alert-danger" role="alert">Invalid email address. This email addres salready exists.</p>
                <p th:case="'illegalCharactersUsed'" class="alert alert-danger" role="alert">Illegal characters used.</p>
                <p th:case="'loginAndEmailExistInDB'" class="alert alert-danger" role="alert">Invalid login and email. This login and email address already exists.</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../static/js/add-user.js" th:src="@{/js/add-user.js}"></script>
</body>
</html>
